@{
    ViewData["Title"] = "Home Page";
}

@* changeableframe height is 726px*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="container">
        <div class="row justify-content-center">
            <sub-folder-component></sub-folder-component>
            <example-component></example-component>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/VUEsite.js" asp-append-version="true"></script>
}
